.banner {
  width: 79.2px;
  height: 238.7px;
  -webkit-transition: width 0.15s, height 0.15s;
  transition: width 0.15s, height 0.15s;
  transition-timing-function: ease-in-out;
}

.banner:hover {
  width: 82px;
  height: 245.8px;
}

.fast {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.normal {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.15s;
}

.slow {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.2s;
}

.bannerBox {
  position: fixed;
  z-index: 50;
  width: 70px;
  left: 50%;
  top: 100px;
  margin-left: -35px;
  content:url("../images/banner_box_empty.png")
}

.bannerBox.full {
  content:url("../images/banner_box_full.png")
}

.menu {
  display: inline-block;
  -webkit-transition: width 0.15s, height 0.15s;
  transition: width 0.15s, height 0.15s;
  transition-timing-function: ease-in-out;
}

.menu:hover {
}

.gone {
  visibility: hidden;
}


